article {

  &>p {
    text-align: justify;
    font-size: 1.2em;

    :deep(b) {
      font-family: montserrat-bold, sans-serif;
      color: $primary;
    }
  }

  &>nav {
    margin-top: 1em;
    display: flex;
    gap: 1em;

    &>a {
      &>.icon {
        padding-right: 3em;
        &::before {
          font-size: 1.5em;
          right: 15px;
          top: 25%;
        }
        &.icon-github::before {
          @include icon("github");
        }
        &.icon-linked-in::before {
          @include icon("linkedin");
        }
      }
    }
  }

}