$primary: #A61C57;
$primary-100: #C1658C;
$primary-200: #DCAEC2;

$secondary: #F0F7EE;
$secondary-100: #F3F8F2;
$secondary-200: #F7F9F6;

$tertiary: #F6DCEF;
$tertiary-100: #F6E5F2;
$tertiary-200: #F7EEF4;

$gray-1: #3F5E64;
$gray-2: #7D9296;
$gray-3: #BCC6C8;
$gray-4: #FAFAFA;

$black: #002A32;
$white: white;

$red: #DB3A3A;
$red-200: #FFBCBC;

$yellow: #FFE03B;
$yellow-200: #FFF5C2;

$green: #3CC87C;
$green-200: #98F7C3;