footer {
  padding: 2em 3em;
  text-align: center;

  a {
    text-decoration: none;
  }

  span.icon {
    display: inline-block;
    color: $primary;
    &::before {
      position: unset;
    }

    &.icon-redirect::before {
      @include icon("open-in-new");
    }
    &.icon-heart::before {
      @include icon("heart");
    }
  }
}