header {
  display: flex;
  justify-content: flex-end;
  padding: 2em 3em;

  height: 5em;

  &>button.responsive-button {
    position: absolute;
    top: 1em;
    right: 1em;

    padding-left: 2.5em;
    display: none;

    background-color: transparent;
    color: $primary;
    border: 1px solid $primary;

    &:is(.navbar-toggled, :hover, :focus) {
      background-color: $primary;
      color: $white;
    }

    &.navbar-toggled {
      &.icon-menu::before {
        @include icon("close");
      }
    }

    &.icon-menu::before {
      left: 10px;
      top: 27%;
      font-size: 1.3em;
      @include icon("menu");
    }
  }

  &>nav {
    display: flex;
    align-items: center;
    gap: 1em;

    &>ul {
      list-style: none;
      display: flex;
      gap: 1.5em;

      &>li {
        &>a {
          color: $gray-1;
          text-decoration: none;
          transition: all .3s ease;

          &:is(:hover, .active) {
            color: $primary;
          }
        }
      }
    }

    &>div.locales {
      border-left: 1px solid $gray-1;
      position: relative;

      &>button {
        background-color: transparent;
        text-transform: uppercase;
        color: $gray-1;
        padding: .5em 2em .5em .8em;

        &:is(:hover, .active) {
          color: $primary;
        }

        &::before {
          font-size: 1.3em;
          right: 5px;
          @include icon("chevron-down");
        }
      }

      &>.dropdown {
        position: absolute;
        top: 3em;
        left: -2em;
        list-style: none;
        border: 1px solid $gray-3;
        background-color: $white;
        padding: .1em 0;
        border-radius: 5px;

        z-index: 99;

        &>li {
          cursor: pointer;
          transition: all .3s ease;
          padding: .5em .6em .5em 2em;

          &.selected>.icon {
            &::before {
              top: 10%;
              left: -22px;
              @include icon("check");
            }
          }

          &:is(:hover, .selected) {
            color: $primary;
          }
          &:not(:last-of-type) {
            border-bottom: 1px solid $gray-3;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 740px) {
  header {
    &>.responsive-button {
      display: block !important;
      z-index: 99;

      &.navbar-toggled {
        position: fixed !important;
      }
    }
    &>nav {
      position: fixed;
      top: 0;
      left: 0;

      width: 100%;
      height: 100vh;

      display: block;

      z-index: 3;
      font-size: 1.6em;

      &>ul {
        display: block;
        margin: 3em 1em;
        margin-bottom: unset;
        &>li {
          margin: .9em 0;
        }
      }

      &>.locales {
        border: unset !important;
        &>button {
          padding-top: unset !important;
          padding-left: 1em !important;
        }

        &>.dropdown {
          position: unset !important;
          border: unset !important;
        }
      }

      background-color: $white;
    }
  }
}