.details {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 99;

  height: 100vh;
  width: 100%;
  animation: open 1s forwards;

  &.close {
    animation: close 1s forwards;
  }

  @keyframes open {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes close {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }

  background-color: $tertiary-200;

  &>button.close {
    font-size: 1.2em;
    padding: .5em .8em .5em 2em;

    $gap: 1em;
    position: absolute;
    top: $gap;
    right: $gap;

    font-family: "montserrat-regular", sans-serif;

    &.icon.icon-close::before {
      @include icon("close");
      color: $gray-1;
      left: 10px;
      top: 28%;
      font-size: 1.1em;
    }
  }
}