.details {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 99;

  height: 100vh;
  width: 100%;
  overflow: hidden;
  animation: open 1s forwards;

  &.close {
    animation: close 1s forwards;
  }

  @keyframes open {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes close {
    from {
      width: 100%;
    }
    to {
      width: 0;
    }
  }

  background-color: $tertiary-200;

  &>button.close {
    font-size: 1.2em;
    padding: .5em .8em .5em 2em;

    $gap: 1em;
    position: absolute;
    top: $gap;
    right: $gap;

    font-family: "montserrat-regular", sans-serif;

    &.icon.icon-close::before {
      @include icon("close");
      color: $gray-1;
      left: 10px;
      top: 28%;
      font-size: 1.1em;
    }
  }

  &>main {
    margin-top: 5em;
    margin-left: 5em;
    width: 100vh;
    //width: 70%;

    &>h2 {
      color: $black;
    }
    &>h3, &>h4 {
      font-weight: normal;
      margin: .5em 0;
    }

    &>p {
      width: 80%;
    }

    &>.categories, &>.skills,&>.links {
      display: flex;
      list-style: none;
      margin: .5em 0;
      gap: 1em;
    }

    &>.categories {
      &>li {
        color: $white;
        padding: .5em .8em;
        border-radius: 100px;
        background-color: $primary;
      }
    }

    &>.skills {
      &>li {
        color: $primary;
      }
    }

    &>.steps {
      margin-left: 2em;
      &>li {
        margin: .3em 0;
      }
    }

    &>.links {
      &>li {
        &>a {
          text-decoration: none;
          padding-right: 2em;
          &.icon.icon-redirect::before {
            right: 10px;
            top: 10%;
            @include icon("open-in-new");
          }
        }
      }
    }
  }
}

@media screen and (max-width: 740px) {
  .details > main {
    width: 100%;
    margin: 0 1em;
    margin-top: 6em;
  }
}