$fonts: (
        "montserrat-light",
        "montserrat-medium",
        "montserrat-regular",
        "montserrat-bold",
        "poppins-medium",
        "poppins-regular",
        "poppins-semibold",
        "poppins-bold"
);

@each $font in $fonts {
    @font-face {
        font-family: $font;
        src: url(/fonts/#{$font}.ttf);
    }
}

@font-face {
    font-family: mdi;
    src: url(/node_modules/@mdi/font/fonts/materialdesignicons-webfont.ttf);
}